<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/base :: baseHead(~{::title}, ~{::script}, ~{::link})">
  <title>Tic Tac Toe</title>

  <script src="js/app-main.js"></script>

  <link rel="stylesheet" href="css/main.css"/>
</head>

<body>

<div th:insert="fragments/header :: header"></div>
<div class="game-area card">
    <div class="toast" id="toastMessage" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header">
        <strong class="me-auto">Validation Error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="toastBody" style="color: red"></div>
    </div>
    <h4 class="game-status">
      <th:block th:switch="${playStatus}">
        <div th:case="'IN_PROGRESS'" class="alert alert-light" role="alert">
          Your turn. Click a square to place an <span th:text="${playerGoFirst ?  'X' : 'O'}"></span>.
        </div>
        <div th:case="'WON'" class="alert alert-success" role="alert">
          <audio id="audio" autoplay style="display:none;">
            <source th:src="@{/audio/game-bonus-144751.mp3}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
            You've won! A sound victory. 🎉
        </div>
        <div th:case="'LOST'" class="alert alert-danger" role="alert">
          <audio id="audio" autoplay style="display:none;">
            <source th:src="@{/audio/failure-drum-sound-effect-2-7184.mp3}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          You've lost. Better luck next time!
        </div>
        <div th:case="'DRAW'" class="alert alert-primary" role="alert">
          <audio id="audio" autoplay style="display:none;">
            <source th:src="@{/audio/sword-hit-7160.mp3}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          Mheh! A smelly draw. 💩
        </div>
      </th:block>
    </h4>
    <table class="board">
      <tr th:each="row, rowIter : ${board}" class="board-row">
        <td th:each="tile, tileIter : ${row}">
          <div th:id="${rowIter.index} + '-' + ${tileIter.index}"
               class="board-row-tile"
               th:classappend="${tile != ''} ? ${tile} + '-value' : (${playStatus == 'IN_PROGRESS'} ? 'available')"
               th:text="${tile}">
            &nbsp;
          </div>
        </td>
      </tr>
    </table>
    <form id="form_mark_tile" th:action="@{/}" method="POST" class="form-inline">
      <div class="text">
        <label><input id="board_size" name="board_size" type="number" placeholder="3"/>  Board Size </label>
      </div>

      <div class="btn-new-game-wrap">
        <button id="btn-new-game" class="btn btn-success btn-lg" role="button">New Game</button>
        <audio id="audio" autoplay style="display:none;">
          <source th:src="@{/audio/game-start-6104.mp3}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>

      <input id="is_game_over" type="hidden" th:value="${playStatus != 'IN_PROGRESS'}"/>
      <input id="tile_id" name="tile_id" type="hidden" value=""/>
      <input id="new_game" name="new_game" type="hidden" value=""/>
    </form>
  </div>
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
